@font-face {
  font-family: "iconfont"; /* Project id 2240129 */
  src: url('iconfont.woff2?t=1624600158760') format('woff2'),
       url('iconfont.woff?t=1624600158760') format('woff'),
       url('iconfont.ttf?t=1624600158760') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bangbangtang:before {
  content: "\e645";
}

.icon-guozhi:before {
  content: "\e646";
}

.icon-beizidangao:before {
  content: "\e647";
}

.icon-baomihua:before {
  content: "\e648";
}

.icon-buding:before {
  content: "\e64a";
}

.icon-cha:before {
  content: "\e64b";
}

.icon-hanbao:before {
  content: "\e64c";
}

.icon-jitui:before {
  content: "\e64d";
}

.icon-dangao:before {
  content: "\e64e";
}

.icon-kaixinguo:before {
  content: "\e64f";
}

.icon-kafei:before {
  content: "\e650";
}

.icon-lanmei:before {
  content: "\e651";
}

.icon-ningmeng:before {
  content: "\e652";
}

.icon-niupai:before {
  content: "\e653";
}

.icon-paihangbang1:before {
  content: "\e60b";
}

.icon-songbook_musicradio:before {
  content: "\e66b";
}

.icon-paihangbang:before {
  content: "\e624";
}

.icon-yinlefenggecccccc:before {
  content: "\e614";
}

.icon-xihuan:before {
  content: "\edec";
}

.icon-xiazaigequ:before {
  content: "\e632";
}

.icon-xiazai-:before {
  content: "\e621";
}

.icon-tinggeshiqu:before {
  content: "\e600";
}

.icon-woxihuan:before {
  content: "\e601";
}

.icon-bendigequ:before {
  content: "\e611";
}

.icon-zuijinbofang:before {
  content: "\e605";
}

.icon-yinle1:before {
  content: "\e618";
}

.icon-sousuo:before {
  content: "\e60a";
}

.icon-shangyishoushangyige:before {
  content: "\e78a";
}

.icon-xiayigexiayishou:before {
  content: "\e7a5";
}

.icon-bofang:before {
  content: "\e606";
}

.icon-liebiaoxunhuan:before {
  content: "\e609";
}

.icon-caidan:before {
  content: "\e662";
}

.icon-icon-:before {
  content: "\e649";
}

.icon-fen_xiang:before {
  content: "\e610";
}

.icon-qianjin:before {
  content: "\e60c";
}

.icon-kaishi:before {
  content: "\e642";
}

.icon-yinle:before {
  content: "\e602";
}

.icon-fanhui:before {
  content: "\e623";
}

.icon-qianjin1:before {
  content: "\e654";
}

